/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.about{
		padding: 60px 0 60px;
	}
	.images-down{
		margin-top: 50px;
		text-align: center;
		margin-bottom: 0px;
	}
	.food-images{
		text-align: center;
		margin-bottom: 0px;
	}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.about{
		padding: 60px 0 60px;
	}
	.history{
		text-align: center;
	}
	.images-down{
		margin-top: 50px;
		text-align: center;
		margin-bottom: 0px;
	}
	.food-images{
		text-align: center;
		margin-bottom: 0px;
	}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.btn{
		display: none;
	}
	.book{
		margin-top: 30px;
	}
	.phone__text {
	text-align: center;
	width: 100%;
	}
	.phone__digist{
		margin-left: 0;
		margin-top: 0;
		text-align: center;
	}
	.history{
		text-align: center;
	}
	.button{
		display: flex;
		justify-content: center;
	}
	.food-images{
		margin-top: 3px;
	}
	.food-title{
		margin-top: 20px;
	}
	.food-text{
		margin-bottom: 20px;
		padding: 0 20px;
	}
	.images-down{
		margin-top: 30px;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

	.button{
		display: flex;
		justify-content: center;
	}
	.phone__text {
	text-align: center;
	width: 100%;
	}
	.special{
		background: #ffffcc;
		margin-top: 0;
		padding-top: 30px;
	}
	.special-title{
		color: #333300;

	}
	.food{
		margin-bottom: 50px;
	}
	.food__details{
		visibility: hidden;
		margin: 0;
		padding: 0;
	}
	.phone__digist{
		margin-left: 0;
		margin-top: 0;
		text-align: center;
	}
	.footer{
		padding: 25px 50px;
	}

}

